/** {
    border: 1px solid black;
}*/

.component-navigator-container {
    position: fixed;
    top: 0;
    z-index: 1000;

    margin: 0;
    padding: 0;

    background-color: var(--background-color);
    box-shadow: 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.2);
}

.component-navigator {
    margin: 0;
    padding: 0;
}

.component-navigator-icon {
    width: calc(6vw + 50px);
    height: 80%;
    position: absolute;
    left: calc(-40px + 18vw);
}

.component-navigator-general-item-container {
    width: 60%;
    height: 100%;
}

.component-navigator-item-container {
    flex: 1;

    height: 100%;
    margin: 0;
    
}

.component-navigator-item {

    height: 100%;
    width: 100%;

    margin: 20%;
    border: 0rem solid var(--theme-color);
    color: var(--sub-text-color);

    transition: all 0.15s;
}

.component-navigator-item.hovered, .component-navigator-item.selected {
    
    border-bottom: 0.4rem solid var(--theme-color);
    color: var(--main-text-color);
}

.component-navigator-item:active {
    border: none;
}

.component-navigator-item:hover {
    cursor: default;
}

.component-navigator-user {

    height: 3.2rem;
    width: 3.2rem;
    position: absolute;
    right: calc(22vw - 50px);
    border-radius: 50%;
    border: 0.2rem solid var(--theme-color);
    background-image: url('../../assets/images/Cinder.ico');
    background-size: cover;
    background-repeat: no-repeat;

}

.component-navigator-user-panel-container {
    flex-direction: column;
    width: 15rem;
    height: 7rem;
    position: absolute;
    right: calc(22vw - 50px);
    top: 5rem;
    z-index: 999;
}

@keyframes appear-still {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.component-navigator-user-panel {
    flex-direction: column;

    width: 100%;
    height: 7rem;
    position: absolute;
    bottom: 0;

    border-radius: 0.5rem;

    background-color: var(--background-color);
    box-shadow: 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.2);
    animation: appear-still 0.25s;
    backdrop-filter: blur(5px);

    transition: all 0.20s;
}

.component-navigator-user-panel.removed {
    opacity: 0;
}

.component-navigator-user-info {

    width: 90%;
    height: 40%;
    margin-top: 0;
    margin-bottom: 5%;

    border-bottom-width: 0.1rem;
    border-bottom-style: solid;
    border-image: linear-gradient(to right, var(--background-color), #bbbbbb, var(--background-color)) 1;
}

.component-navigator-user-logout-button {
    width: 90%;
    height: 2.2rem;
}