
.swiper-container {
    perspective: 1600px;
    z-index: 2;
    position: relative;
}

.swiper-image {
    transform-style: preserve-3d;
    height: 22.5vw;
    width: 40vw;
    /*
    height: 11.25vw;
    width: 20vw;
    */
    /*position: relative;*/ /*不absolute会使得图片的初始位置不在原点*/
    position: absolute;
    /*border: 1px solid black;*/
    background-size: cover;
    transition: transform 0.4s ease-in-out;
    /*transition: all 1s ease-in-out;*/
}

.swiper-button {
    position: absolute;
    z-index: 888;
    width: 4vw;
    height: 22.5vw;
    font-size: 2.5vw;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: none;
    border: none;
    color: white;
    transition: all 0.1s ease-in-out;
    user-select: none;
}

.swiper-button:hover {
    text-shadow: 0.3vw 0.3vw 0.3vw rgba(0, 0, 0, 0.5);
}
.swiper-button:active {
    text-shadow: 0.1vw 0.1vw 0.1vw rgba(0, 0, 0, 0.5);
}

.swiper-dot-container {
    flex-direction: row;
    position: relative;
    top: 16vw;
    z-index: 999;
}

.swiper-dot {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid white;
    margin: 3px;
    transition: all 0.3s;
}

.swiper-dot.ondisplay {
    background-color: white;
}

.swiper-dot:hover {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.swiper-dot:active {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}