.top-navigator-container {
    width: 100%;
    height: 4rem;
}

.top-navigator {
    
    width: 70%;
    height: 100%;

    font-size: 1.5rem;
}

.top-navigator-icon {
    

    background-image: url('../images/starstudio.PNG');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}