.top-navigator-container {
    width: 100%;
    height: 4.2rem;
}

.top-navigator {
    
    width: 70%;
    height: 100%;

    font-size: min(3vw, 3vh);
}

.top-navigator-general-item-container {
    color: var(--sub-text-color);
}

.top-navigator-icon {
    

    background-image: url('../images/starstudio.PNG');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.main-content-container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    flex-direction: column;
}

.main-content {
    flex-direction: column;
}

.main-content-part1 {
    flex-direction: column;
    position: absolute;
    top: min(30vw, 45vh);
}

.main-content-swiper {
    perspective: 1600px;
    flex-direction: row;
}

.main-content-part2 {
    position: absolute;
    top: calc(2 * min(30vw, 45vh));
}

.game-panel-container {
    flex-direction: column;
}